$width-site: 1140px;

@font-face {
    font-family: 'Tektur';
    src: url(./Tektur/Tektur-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Tektur';
    font-style: normal;
}


.container{
    max-width: $width-site;
    margin: 0 auto;
}

/*Footer*/

.footer{
    width: auto;
    background: #959594;
    &-content{
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 33px;
        &_paragraph{
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        &_list{
            list-style: none;
            display: flex;
            flex-direction: column;
        }
        &_li {
            margin-top: 16px;
        }
        &_link{
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            flex: none;
            order: 1;
            flex-grow: 0;
        }
        &_catalog{
            min-width: 300px;
        }
        &_about{
            min-width: 204px;
        }
        
        &_contacts{
            min-width: 183px;
        }
        
        &_form{
            min-width: 261px;
        }
        &_catalog,
        &_about,
        &_contacts{
            margin-right: 64px;
        }
    }
}

.form_name,
.form_tel{
    width: 261px;
    height: 40px;
    padding-left: 30px;
    gap: 4px;
    width: 261px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.25);
    order: 0;
    flex-grow: 0;
}

.form_name{
    margin-top: 24px;
    margin-bottom: 8px;
    background-image: url(./img/men.svg);
    background-repeat: no-repeat;
    background-position: 15px; 
    outline: none;
}

.form_tel{
    margin-bottom: 24px;
    background-image: url(./img/tel.svg);
    background-repeat: no-repeat;
    background-position: 15px; 
    outline: none;
}

.button_submit{
    width: 140px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #0B5EDB;
    flex: none;
    order: 2;
    flex-grow: 0;
    border: none;
    padding: 10px;
    gap: 10px;
    background-image: url(./img/arrow.svg);
    background-repeat: no-repeat;
    background-position: 15px; 
    outline: none;
}
